<main role="main">
  <app-hero-section></app-hero-section>
  <app-feature-section variant="project-management"></app-feature-section>
  <app-feature-section variant="work-together"></app-feature-section>
  <app-feature-section variant="extension"></app-feature-section>
  <app-feature-section variant="customise"></app-feature-section>
  <app-callout-section></app-callout-section>
  <app-data-security></app-data-security>
  <app-sponsors></app-sponsors>
  <app-integrations></app-integrations>
  <app-testimonials></app-testimonials>
  <app-bottom-cta></app-bottom-cta>
</main>


